services:
  mysql:
    image: mysql:8
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-password}
      MYSQL_DATABASE: local
      MYSQL_USER: user
      MYSQL_PASSWORD: ${DB_PASSWORD:-password}
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
