{{ range $notebook := .Notebooks }}
## {{ $notebook.Event }}

{{ range $scene := $notebook.Scenes }}

---

{{ if $scene.Title -}}
### {{ $scene.Title }}
{{- end }}

{{ range $conversation := $scene.Conversations }}
- _{{ $conversation.Speaker }}_: {{ $conversation.Quote }}
{{- end }}
{{- if $scene.Statements }}
{{ if eq $scene.Type "blockquote" }}
> {{ range $index, $statement := $scene.Statements }}{{ if $index }} {{ end }}{{ $statement }}{{ end }}
{{ else }}
{{ range $index, $statement := $scene.Statements }}{{ if $index }} {{ end }}{{ $statement }}{{ end }}
{{ end }}
{{- end }}

#### Words and phrases

{{ range $definition := $scene.Definitions }}
{{ $def := "" }}
{{- if $definition.Definition -}}
{{ $def = $definition.Definition }}
{{- else -}}
{{ $def = $definition.Expression }}
{{- end -}}

- **{{ $def }}**{{ if $definition.Pronunciation }} /{{ $definition.Pronunciation }}/{{ end }}{{ if $definition.PartOfSpeech }} [{{ $definition.PartOfSpeech }}]{{ end }}: {{ $definition.Meaning -}}
{{ if $definition.Examples }}
    - Examples:
    {{- range $index, $example := $definition.Examples }}
        - {{ $example }}
    {{- end -}}
{{ end }}
{{ if $definition.Origin }}
    - Origin: {{ $definition.Origin }}
{{ end }}
{{ if $definition.Synonyms }}
    - Synonyms: {{ join $definition.Synonyms ", " }}
{{ end }}
{{ if $definition.Antonyms }}
    - Antonyms: {{ join $definition.Antonyms ", " }}
{{ end }}
{{- if $definition.Images }}
    - Images:
    {{- range $image := $definition.Images }}
        - ![height:400px]({{ $image }})
    {{ end -}}
{{- end }} {{/* if $definition.Images */}}

{{ end }} {{/* definition */}}
{{ end }} {{/* scene */}}
{{ end }} {{/* notebook */}}
